.top_five_repositories_div , .top_five_users_div {
  margin: auto;
  width:50%;
  position: relative;
  padding: 10px;
}

#hot_repo , #prolific_users{
  margin: 10px;
  float: left;
}

#title {
  text-align: center;
  font-family: arial, sans-serif;
}

table {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  height: 50%;
}

 td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

 tr:nth-child(even){background-color: #f2f2f2;}

